.Toolbar {
    width: 100%;
    background-color: #ccc;
    margin-bottom: 15px;
}

.Toolbar__Filter,
.Toolbar__Sort {
    padding: 10px;
    display: inline-block;
}

.Toolbar__Sort {

}

.Toolbar__Filter {

}

.Toolbar__Options {
    margin: 0;
    padding: 0;
    width: 40%;
    
    display: inline-block;
    box-sizing: border-box;

    list-style-type: none;
}

.Toolbar__Options li {
    display: inline-block;
    padding: 10px;
}