.Footer {
    width: 80%;
    margin: 0 auto;
    
    
    /* delete the temp margin top */
    margin-top: 15px;
    
    /* font-size: 1.5rem; */
    color: white;

    background-color: rgb(37, 30, 37);
}

.FooterNav {
    width: 80%;
    margin: 0 auto;

    box-sizing: border-box;
    border-bottom: 2px solid white;
}

.FooterNav__Items {
    margin-top: 10px;
    padding: 5px;
    display: inline-block;


    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2rem;

    box-sizing: border-box;
    border-bottom: 2px solid rgb(26, 3, 26);
}

.FooterNav__Items:focus,
.FooterNav__Items:hover,
.FooterNav__Items:active {
    border-bottom: 2px solid white;
}

.Footer__Info {
    width: 80%;
    margin: 0 auto;

    box-sizing: border-box;

    font-size: 1.5rem;
}

.Footer__Message {
    width: 30%;
    margin: 0;
    padding: 10px;
    display: inline-block;

    box-sizing: border-box;
}

.Footer__CompanyInfo {
    width: 70%;
    margin: 0;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.Footer__Social {
    width: 100%;
    margin-top: 10px;
    padding: 10px;

    border-top: 2px solid white;
}
