.Nav {
    width: 100%;
}

.Nav__Left {
    margin: 0;
    padding: 0;
    width: 60%;
    
    display: inline-block;
    box-sizing: border-box;
}

.Nav__Right {
    margin: 0;
    padding: 0;
    width: 40%;
    
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
}

/* .Nav__FlexContainerR, 
.Nav__FlexContainerL {
    display: flex;
    flex-direction: row;
} */

.Nav__Item {
    display: inline-block;
    padding: 10px;
}

.Nav__Link {
    text-decoration: none;
    color: white;
}

.Logo {
    display: inline-block;
    width: 20%;
}